
<main>
  <div class="container">
    <h1 class="text-center" style="color: blue;">QUOTES APP</h1>
    <hr>
   
      <P>This is a quotes app that will be web based that a user view favourite links and can be able to rate them whether inspirational or discouraging </P>
      <p>It is also allowing users to be able to upload their own Quotes where they can also be rated</p>
      <p>Enjoy</p>
      
    <div class="row" id="input">
      <div class="col-md-6">
        <div *ngFor='let quote of quotes; let i = index;' class="card shadow-lg p-3 mb-3 bg-body rounded">
          <div id={{i}}>
            <h5 *ngIf='quote.upvote !== getMax() || quote.upvote === 0'>{{ quote.quote }}.</h5>
            <div *ngIf='quote.upvote === getMax() && quote.upvote > 0'>
              <h5 appHighlight>{{ quote.quote }}</h5>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div><strong class="author">{{quote.author}}</strong></div>
            <div style="color: brown; font-size: 10pt; padding-right: 5%;" (click)='toggleDetails(i)'>React </div>
          </div>
          <app-quote-details [quote]='quote' (isDeleted)='deleteQuote($event,i)' *ngIf='quote.toggleContent'>
          </app-quote-details>
        </div>
      </div>
      <div class="col-md-6">
        <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
      </div>
    </div>
  </div>
</main>
