/* You can add global styles to this file, and also import other style files */

body {
    max-width: 100%;
    overflow-x: hidden;
  }
  #hord {
    background-image: url('assets/images/me.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #over {
    padding-bottom:1%;
    position: relative;
    top: 5;
    bottom: 5;
    background-color: rgba(205, 231, 231, 0.5);
  }
