  .form {
    padding-bottom: 2%;
  }

  input {
    height: 4f0px;
  }

  label {
    margin-bottom: 1%;
    margin-top: 1%;
  }

  button {
    margin-top: 2%;
    background-color: navy;
    color: white;
  }
